body {
  font-family: system-ui, sans-serif;
  margin: 0;
  background: #f5f7fa;
  color: #333;
}

h1 {
  text-align: center;
  margin: 10px;
}

#map {
  height: 500px;
  width: 100%;
}

#info {
  text-align: center;
  margin-top: 15px;
  font-size: 1.2em;
  font-weight: bold;
  color: #0056b3;
}
